@tailwind base;
@tailwind components;
@tailwind utilities;

:root { /* #F2E8CF */ /* #386641 */

  --radius: 0.5rem;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}


@layer utilities {
  .transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }

  .duration-300 {
    transition-duration: 300ms;
  }

  .ease-in-out {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}




@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fadeInUp 0.6s ease-out;
}


.animate-reveal {
  animation: reveal 1s ease-out;
}

@keyframes reveal {
  from {
    transform: translateY(50%);
  }
  to {
    transform: translateY(0);
  }
}
